[submodule "3rdparty/linux-xlnx"]
	path = 3rdparty/linux-xlnx
	url = https://github.com/Xilinx/linux-xlnx.git
[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/l0r3m1psum/tvm.git
	branch = strela_tvm
